/* variáveis de cor */

:root {
    --cor-fundo-cabecalho: #a188eb;
    --cor-texto-branco: #ffffff;
    --cor-texto-titulo: #414141;
    --cor-texto-paragrafo: #000000;
    --cor-fundo-caixa: rgba(255, 255, 255, 0.8);
    --borda-caixa-gradiente1: #604abc;
    --borda-caixa-gradiente2: #fe7fb4;
    --rodape-gradiente1: #a760e4;
    --rodape-gradiente2: #ca91b1;
}

/* retira estilo padrão css e ajusta parâmetros gerais*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}


/* Estilização do cabeçalho */

header {
    background-color: var(--cor-fundo-cabecalho);
    color: var(--cor-texto-branco);
    position:sticky;
    top: 0;
    z-index: 1000;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 35px 16px;    
}

.menu > li {
    margin: 0px 16px;
    padding:16px;
    transition: transform 0.3s ease; 
}

/* Adiciona efeito quando passa o mouse em cima dos elementos do cabeçalho */
.menu > li:hover {
    cursor: pointer;
    background-color: var(--rodape-gradiente1);
    border-radius: 20px;
    transform: scale(1.1); 
}

/* Estilização do corpo */

/* Âncora para direcionamento dos links do cabeçalho */

.ancora{
    display:block;
    height: 90px;
    margin-top:-90px;
    visibility:hidden;
}

/* Container das seções, utilizando flexbox. Orienta os containeres filhos verticalmente e os alinha */
.container {
    display: flex;
    flex-direction: column;    
    align-items: stretch;
    justify-content: center;
    padding: 20px 60px;
    background: #e7b6ff;
    background: linear-gradient(139deg, rgba(231, 182, 255, 0.8) 0%, rgba(241, 127, 254, 0.6) 65%, rgba(182, 215, 255, 0.6) 100%);
}

/* Container que contem cada elemento */
.caixa {
    border-style: solid;
    border-width: 2px;
    border-color: var(--cor-texto-paragrafo);
    max-width: 800px;
    min-width: 600px;    
    margin: 40px auto;
    font-size: 20px;
    background: var(--cor-fundo-caixa);
    
}

.caixa-texto {
    border-width: 2px;
    padding: 5px;
}

.caixa-texto p {
    margin: 15px 0;   
}

.caixa-texto a {
    color:var(--borda-caixa-gradiente1);
}

/* Estilização da seção nossos objetivos, que contém bullet points roxos */

.caixa-texto ul {
    margin-left: 20px;
}

.caixa-texto li {
    list-style:disc;
    color: var(--borda-caixa-gradiente1);
    padding-left: 15px;
    margin: 15px 0;
}

.caixa-texto li span {
    color: var(--cor-texto-paragrafo);
}

/* Estilização do carrossel */
.carrossel {
  position: relative;
}

.slide-com-foto .imagem-slide {
  position: absolute;
  top: -32px;
  right: -10px;
  z-index: 5;
  width: 260px;
  height: 210px;
  object-fit: cover;
  background: #fff;
  border: 1px solid #000;
  padding: 10px 3px;
}

.header-carrossel {
  display: flex;
  align-items: center;
  margin: 12px 12px;
  height: 46px;
  background-image: linear-gradient(to right, var(--rodape-gradiente1) 0%, var(--rodape-gradiente2) 100%);
  border: 1px solid #000;
}

.texto-header-carrossel {
  background: #fff;
  border: 2px solid #000;
  border-radius: 0 16px 16px 0 / 0 50% 50% 0;
  padding: 0px 32px 0px 12px;
  margin: 2px;
  line-height: 1;
  display: inline-block;
}

.header-carrossel .texto-header-carrossel span {
  font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-size: 36px;

  /*-webkit-text-stroke só funciona no Chrome/Edge/Safari, 
  então simulamos o stroke com text-shadow*/
  color: #414141; /* cor do preenchimento */
  text-shadow: 
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.slide .caixa-texto {
  padding: 0px 14px;
  margin: 12px;
  border-width: 1px;
}

.titulo-slide {
  font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-size: 36px;

  /*-webkit-text-stroke só funciona no Chrome/Edge/Safari, 
  então simulamos o stroke com text-shadow*/
  color: #000; /* cor do preenchimento */
  text-shadow: 
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.slide .caixa-texto .texto-slide {
  font-size: 30px;
}

.barra-scroll-horizontal{
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 6px;
  height: var(--scroll-h);
  margin: 8px 0;
  user-select: none;
  border-width: 1px;
}

.barra-scroll-horizontal .slide-anterior,
.barra-scroll-horizontal .slide-seguinte{
  position: relative;
  height: 100%;
  min-width: 34px;
  padding: 0;
  background: var(--fundo-btn);
  border: 1px solid var(--borda);
  cursor: pointer;
  display: grid;
  place-items: center;
}


/* implementação da borda gradiente */

.borda-gradiente {
    border: 10px solid transparent;
    border-image: linear-gradient(to right, var(--borda-caixa-gradiente1), var(--borda-caixa-gradiente2)) 1;
    border-image-slice: 1;
    padding: 30px;
}

/* Estilização do rodapé */

footer {
    background-image: linear-gradient(to right, var(--rodape-gradiente1) 0%, var(--rodape-gradiente2) 100%);
    color: var(--cor-texto-branco);
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px 16px;    
}

.footer-links > li {
    margin: 0px 16px;
}
.footer-links > li img {
    width: 64px;
    height: auto;
    transition: transform 0.3s ease; 
}
.footer-links > li img:hover {
    cursor: pointer;
    transform: scale(1.2); 
}